<div class="container text-center my-4">
    <h1 class="text-uppercase bg-secondary text-center p-2 fw-bold rounded-5">Video</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SJwnKXKayNY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen  class="my-4 rounded-3 shadow  border-2"></iframe>
<div class="col-4 offset-4">
    <a href="www.youtube.com" target="_blank" >
    <img src="../../../assets/YTLogo_old_new_animation.0.gif" alt="youtube" width="100">
</a></div>
</div>
