<div class="container">
  <h1 class="text-uppercase bg-secondary text-center p-2 fw-bold rounded-5">Contact</h1>
    <h4 class="fw-bold">Feedback</h4>
<form  action="#">
    <div class="row ">
      <div class="col-4 offset-4 card my-4 pb-5 pt-3">
        <div class="mb-3">
  <label for="name" class="form-label">Name:</label>
  <input type="name" required class="form-control" placeholder="Ex...Vicky">
</div>
      <div class="mb-3">
  <label for="email" class="form-label">Email address</label>
  <input type="email" class="form-control" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="message" class="form-label">Message</label>
  <textarea class="form-control" rows="3"></textarea>
</div>
        <!-- Button -->
<button class="btn btn-primary"  type="submit">Login</button>
    </div>
      </div>

</form>
</div>

