<div class="container my-3">
       <h1 class="text-uppercase bg-secondary text-center p-2 fw-bold rounded-5">Services</h1>
           <div class="row">
               <div class="col-sm-6 col-lg-3">
             <div class="card">
            <img src="../../../assets/mech.jpeg" alt="mechanical" class="card-img-top">    
            <div class="card-body">
             <h4 class="card-title">Mechanical Engineering</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis soluta sapiente accusantium aut nihil blanditiis cupiditate reprehenderit voluptate commodi natus.</p>
            <a href="#" class="btn btn-primary"> More</a>
</div>
            </div>
    </div>
        <div class="col-sm-6 col-lg-3"> 
            <div class="card">
            <img src="../../../assets/comp.jpg" alt="computer" class="card-img-top"> 
<div class="card-body">
<h4 class="card-title">Computer Engineering</h4>
<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolore nisi dolores cumque porro necessitatibus illo? Ab vero quam quidem.</p>
<a href="#" class="btn btn-primary"> More</a>
</div>
        </div>
    </div>
        <div class="col-sm-6 col-lg-3">
             <div class="card">
      <img src="../../../assets/comp.jpg" alt="civil" class="card-img-top"> 
<div class="card-body">
<h4 class="card-title">Civil Engineering</h4>
<p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga quam numquam exercitationem necessitatibus nihil nam molestiae cumque eaque dolore debitis.</p>
<a href="#" class="btn btn-primary"> More</a>
</div>
        </div>
    </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
         <img src="../../../assets/mech.jpeg" alt="Electrical" class="card-img-top"> 
         <div class="card-body">
<h4 class="card-title">Electrical Engineering</h4>
<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus delectus consequatur aspernatur in excepturi dicta reiciendis reprehenderit unde labore dolorum!</p>
<a href="#" class="btn btn-primary"> More</a>
         </div>
        </div>
    </div>
    </div>
