<div class="container ">
<div class="row">
    <div class=" col-md-6 col-lg-6">
        <img src="../../../assets/index.jpeg" alt="Home Logo" class="w-100 rounded-2">
    </div>
    <div class=" col-md-6 col-lg-6 text-center md-mt-0 mt-lg-5 " >
        <h1>Welcome Back....!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ullam accusamus qui laborum molestias non architecto, sed exercitationem eius voluptatum amet sapiente sunt rerum. Eos fugiat neque beatae quia? Exercitationem.</p>
    </div>
</div>
</div>